<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OLKVO&amp;KVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>85824C031CABA29A0073D41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85824C1C1CABA29A0073D41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85824C271CABA29A0073D41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
